@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  height: 100vh;
  background-color: rgb(229, 236, 243);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: rgb(255.55, 255, 255);
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(214, 89, 214);
  border-radius: 12px;
}

@media screen and (max-width: 448px) {
  body {
    min-width: 100vw;
    overflow-x: hidden;
    font-size: 50%;
    padding: 0 5px;
  }
}

.text {
  background: linear-gradient(to right, rgb(215, 107, 215), blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero {
  width: 600px;
  height: 600px;
  position: absolute;
  box-shadow: 8px 8px 40px pink;
  z-index: -1;
  right: -5%;
  top: 25%;
  animation: rotate 12s ease-in-out  infinite backwards ;
  filter: blur(62px);
  border-radius: 40% 50% 60% 20% / 40% 80% 20% 50%;
  background: linear-gradient(12deg, purple, violet, blue);
  transition:  all .5s;
}
.hero:nth-child(2){
  left: -12%;
  top: 150%;
}
.hero-child {
  width: 40%;
  height: 40%;
  background-color: rgb(229, 236, 243);
  border-radius: 50%;
}


@keyframes rotate {
  0%{
    transform: rotate(0deg);

  }
  100%{
    transform: rotate(360deg);

  }
  
}

.marquee-box {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  padding: 1.5rem 0;
}

.custom-radius{
  border-radius: 24% 76% 22% 78% / 100% 41% 59% 0% ;
}