@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  height: 100vh;
  background-color: rgb(229, 236, 243);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.text {
  background: linear-gradient(to right, rgb(215, 107, 215), blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.anim {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(to bottom right, #2190ff, #8a79ff, #222);
  z-index: -1;
  filter: blur(16px);
  animation: change 20s ease-in 0s infinite, backwards;
}
.anim:nth-child(2) {
  animation-duration: 25s;
  bottom: 20%;
}

@keyframes change {
  0% {
    top: 60%;
    left: 5%;
  }
  20% {
    top: 80%;
    left: 20%;
    bottom: 50%;
  }
  40% {
    top: 60%;
    left: 60%;
  }
  60% {
    top: 40%;
    left: 80%;
  }
  80% {
    top: 20%;
    left: 80%;
  }
  100% {
    top: 10%;
    left: 10%;
  }
}

.marquee-box {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  padding: 1.5rem 0;
  
}
